.box {
  background-color: rgba(238, 235, 221, 1);
  height: 30px;
  width: 100%;
}
.title {
  margin: 5px auto;
  width: 75%;
  color: #000000;
  padding-bottom: 4px;
  border-bottom: solid #000000;
}