.title-container{
    width: 475px;
    height: 291px;
}

.title-container h1{
    color: rgba(129, 0, 0, 1);
}

.analysis-container{
    width: 475px;
    height: 291px;
    left: 775px;
    top: 205px;
}
.other-classes{
    display: flex;
    justify-content: center;
}

.other-classe{
    width: 355px;
    height: 291px;
    left: 152px;
    top: 947px;
}